# App-helm-chart/charts/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.Name }}-secret
  type: Opaque
stringData:
  username: {{ .Values.secret.username }}
  password: {{ .Values.secret.password }}